In [102]:

from pandas import  *
from numpy import *
from seaborn import *
from matplotlib.pyplot import *
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder

In [103]:
# Import required libraries
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from keras.callbacks import EarlyStopping

In [104]:
df=read_csv('predict Exam Marks(sample).csv')
df

    StudyHours  PassFinalExam
0          1.5              0
1          2.0              0
2          2.5              0
3          3.0              0
4          3.5              0
5          4.0              1
6          4.5              1
7          5.0              0
8          5.5              1
9          6.0              1
10         6.5              1
11         7.0              1
12         7.5              1
13         8.0              1
14         8.5              1
15         9.0              1
16         9.5              1
17        10.0              1
18        10.5              1
19        11.0              1

In [105]:
x=df.iloc[:,0:1]
y=df[['PassFinalExam']]

In [106]:
x

    StudyHours
0          1.5
1          2.0
2          2.5
3          3.0
4          3.5
5          4.0
6          4.5
7          5.0
8          5.5
9          6.0
10         6.5
11         7.0
12         7.5
13         8.0
14         8.5
15         9.0
16         9.5
17        10.0
18        10.5
19        11.0

In [107]:
y

    PassFinalExam
0               0
1               0
2               0
3               0
4               0
5               1
6               1
7               0
8               1
9               1
10              1
11              1
12              1
13              1
14              1
15              1
16              1
17              1
18              1
19              1

In [108]:

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [109]:
# Standardize the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Build the ANN model
model = Sequential()
model.add(Dense(units=128, activation='relu', input_dim=1))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=8, activation='relu'))
model.add(Dense(units=4, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

early_stopping = EarlyStopping(monitor='accuracy', patience=3, mode='max', verbose=1)

# Train the model with EarlyStopping callback
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=1, validation_data=(X_test_scaled, y_test), callbacks=[early_stopping])

Epoch 1/50

c:\Users\debna\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

16/16 ━━━━━━━━━━━━━━━━━━━━ 4s 19ms/step - accuracy: 0.8028 - loss: 0.6909 - val_accuracy: 0.7500 - val_loss: 0.6445
Epoch 2/50
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7150 - loss: 0.6203 - val_accuracy: 0.7500 - val_loss: 0.5748
Epoch 3/50
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4792 - loss: 0.5796 - val_accuracy: 0.7500 - val_loss: 0.4740
Epoch 4/50
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8315 - loss: 0.3058 - val_accuracy: 0.7500 - val_loss: 0.3882
Epoch 4: early stopping

In [110]:
# Sample new data
X_new = [[2.7], [3.7], [4.1], [5.6], [6]]  # List of lists or numpy array containing the new data

# Scale the new data
X_new_scaled = scaler.transform(X_new)

# Make predictions
predictions = model.predict(X_new_scaled)

# Round predictions to convert probabilities to binary (0 or 1)
rounded_predictions = [int(round(p[0])) for p in predictions]

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

WARNING:tensorflow:6 out of the last 6 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001DBA2A86020> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 111ms/step

In [111]:
rounded_predictions

[1, 1, 1, 1, 1]