In [150]:
# Import required libraries
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [151]:

from pandas import  *
from numpy import *
from seaborn import *
from matplotlib.pyplot import *
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [152]:
df=read_csv('planets.csv')

In [153]:
df

         Body  DensitySI  RadiusSI  Cluster            Category
0     Mercury       5430   2440.00        0  Terrestrial planet
1       Venus       5200   6052.00        0  Terrestrial planet
2       Earth       5510   6371.00        0  Terrestrial planet
3        Moon       3340   1738.00        0  Terrestrial planet
4        Mars       3930   3390.00        0  Terrestrial planet
5      Phobos       1900     11.10        1      Asteroid/comet
6      Deimos       1760      6.20        1      Asteroid/comet
7     Jupiter       1330  69910.00        3        Giant planet
8          Io       3530   1821.00        0  Terrestrial planet
9      Europa       2990   1565.00        0  Terrestrial planet
10   Ganymede       1940   2634.00        0  Terrestrial planet
11   Callisto       1850   2403.00        0  Terrestrial planet
12     Saturn        690  58230.00        3        Giant planet
13      Mimas       1140    199.00        2            Icy moon
14  Enceladus       1610    249.00        2            Icy moon
15     Tethys       1000    530.00        2            Icy moon
16      Dione       1440    560.00        2            Icy moon
17       Rhea       1240    764.00        2            Icy moon
18      Titan       1880   2575.00        0  Terrestrial planet
19    Iapetus       1020    718.00        2            Icy moon
20     Uranus       1320  25360.00        3        Giant planet
21    Miranda       1200    236.00        2            Icy moon
22      Ariel       1700    579.00        2            Icy moon
23    Umbriel       1400    585.00        2            Icy moon
24    Titania       1710    789.00        2            Icy moon
25     Oberon       1630    761.00        2            Icy moon
26    Neptune       1640  24620.00        3        Giant planet
27    Proteus       1200    209.00        2            Icy moon
28     Triton       2050   1353.00        0  Terrestrial planet
29     Nereid       1200    170.00        2            Icy moon
30      Pluto       2100   1137.00        0  Terrestrial planet
31     Charon       2200    586.00        2            Icy moon
32     Gaspra       2500      6.10        1      Asteroid/comet
33        Ida       2600     15.80        1      Asteroid/comet
34   Mathilde       1300     26.40        1      Asteroid/comet
35       Eros       2670      9.69        1      Asteroid/comet
36    Itokawa       1900      0.32        1      Asteroid/comet
37    Lutetia       5500     50.00        1      Asteroid/comet
38      Vesta       3456    263.00        2            Icy moon
39      Ceres       2161    473.00        2            Icy moon

In [154]:
df=df.drop(columns='Body')

In [155]:
df=df.drop(columns='Cluster')

In [156]:
x=df.iloc[:,:-1]

In [157]:
x

    DensitySI  RadiusSI
0        5430   2440.00
1        5200   6052.00
2        5510   6371.00
3        3340   1738.00
4        3930   3390.00
5        1900     11.10
6        1760      6.20
7        1330  69910.00
8        3530   1821.00
9        2990   1565.00
10       1940   2634.00
11       1850   2403.00
12        690  58230.00
13       1140    199.00
14       1610    249.00
15       1000    530.00
16       1440    560.00
17       1240    764.00
18       1880   2575.00
19       1020    718.00
20       1320  25360.00
21       1200    236.00
22       1700    579.00
23       1400    585.00
24       1710    789.00
25       1630    761.00
26       1640  24620.00
27       1200    209.00
28       2050   1353.00
29       1200    170.00
30       2100   1137.00
31       2200    586.00
32       2500      6.10
33       2600     15.80
34       1300     26.40
35       2670      9.69
36       1900      0.32
37       5500     50.00
38       3456    263.00
39       2161    473.00

In [158]:
y=df[['Category']]

In [159]:
y

              Category
0   Terrestrial planet
1   Terrestrial planet
2   Terrestrial planet
3   Terrestrial planet
4   Terrestrial planet
5       Asteroid/comet
6       Asteroid/comet
7         Giant planet
8   Terrestrial planet
9   Terrestrial planet
10  Terrestrial planet
11  Terrestrial planet
12        Giant planet
13            Icy moon
14            Icy moon
15            Icy moon
16            Icy moon
17            Icy moon
18  Terrestrial planet
19            Icy moon
20        Giant planet
21            Icy moon
22            Icy moon
23            Icy moon
24            Icy moon
25            Icy moon
26        Giant planet
27            Icy moon
28  Terrestrial planet
29            Icy moon
30  Terrestrial planet
31            Icy moon
32      Asteroid/comet
33      Asteroid/comet
34      Asteroid/comet
35      Asteroid/comet
36      Asteroid/comet
37      Asteroid/comet
38            Icy moon
39            Icy moon

DT

In [160]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=128)

In [161]:
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier(criterion='entropy',random_state=1) #d=DecisionTreeClassifier(), default criterion is gini.
d.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=1)

In [162]:
d.score(x_train,y_train)

1.0

In [163]:
d.score(x_test,y_test)

0.8333333333333334

In [164]:
d.predict([[1340,742]])

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Icy moon'], dtype=object)

RF

In [165]:
from sklearn.ensemble import RandomForestClassifier
r=RandomForestClassifier(n_estimators=100)
r.fit(x_train,y_train)

C:\Users\debna\AppData\Local\Temp\ipykernel_13732\2167681452.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  r.fit(x_train,y_train)

RandomForestClassifier()

In [166]:
r.score(x_train,y_train)

1.0

In [167]:
r.score(x_test,y_test)

0.9166666666666666

In [168]:
r.predict([[1340,742]])

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['Icy moon'], dtype=object)

D L

In [177]:
# Convert labels to numerical format using LabelEncoder

label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y_encoded, test_size=0.2, random_state=42)

# Define your deep learning model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(8, activation='relu'),
    Dense(len(label_encoder.classes_), activation='sigmoid')  # Output layer with softmax activation for multi-class classification
])

# Compile the model with sparse categorical cross-entropy loss
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=1, validation_data=(X_test, y_test))

Epoch 1/10

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\debna\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

32/32 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.5562 - loss: 265.7971 - val_accuracy: 0.2500 - val_loss: 1131.8600
Epoch 2/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5880 - loss: 55.6958 - val_accuracy: 0.2500 - val_loss: 120.0078
Epoch 3/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6183 - loss: 22.6994 - val_accuracy: 0.6250 - val_loss: 9.9175
Epoch 4/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8359 - loss: 4.6043 - val_accuracy: 0.6250 - val_loss: 14.7952
Epoch 5/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8040 - loss: 5.0184 - val_accuracy: 0.7500 - val_loss: 7.2878
Epoch 6/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6089 - loss: 14.7601 - val_accuracy: 0.7500 - val_loss: 6.2827
Epoch 7/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8705 - loss: 3.2763 - val_accuracy: 0.7500 - val_loss: 10.3637
Epoch 8/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7747 - loss: 6.2807 - val_accuracy: 0.7500 - val_loss: 8.1860
Epoch 9/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8871 - loss: 3.1482 - val_accuracy: 0.6250 - val_loss: 19.2838
Epoch 10/10
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7019 - loss: 9.5671 - val_accuracy: 0.8750 - val_loss: 2.9157

most imp. is val_accuracy .

Its  87 %

In [178]:

input_data = [[1340,742]]

# Convert input data to numpy array if necessary
input_data = array(input_data)

# Preprocess input data if necessary (e.g., scaling)
# Make predictions
predictions = model.predict(input_data)

# Decode predictions back to string labels
predicted_labels = label_encoder.inverse_transform(predictions.argmax(axis=1))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 100ms/step

In [179]:
predicted_labels

array(['Asteroid/comet'], dtype=object)