In [352]:
# Import required libraries
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [353]:

from pandas import  *
from numpy import *
from seaborn import *
from matplotlib.pyplot import *
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [354]:
df=read_csv("stars class.csv")

In [355]:
df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O

....................................................................................................................................................

To predict star type

In [356]:
x=df.iloc[:,:-3]

In [357]:
x

     Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)
0               3068          0.002400        0.1700                   16.12
1               3042          0.000500        0.1542                   16.60
2               2600          0.000300        0.1020                   18.70
3               2800          0.000200        0.1600                   16.65
4               1939          0.000138        0.1030                   20.06
..               ...               ...           ...                     ...
235            38940     374830.000000     1356.0000                   -9.93
236            30839     834042.000000     1194.0000                  -10.63
237             8829     537493.000000     1423.0000                  -10.73
238             9235     404940.000000     1112.0000                  -11.23
239            37882     294903.000000     1783.0000                   -7.80

[240 rows x 4 columns]

In [358]:
y=df[['Star type']]

In [359]:
y

     Star type
0            0
1            0
2            0
3            0
4            0
..         ...
235          5
236          5
237          5
238          5
239          5

[240 rows x 1 columns]

In [360]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [361]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [362]:

# Train the model for predicting Star Type
R = RandomForestClassifier(n_estimators=500,random_state=1)
R.fit(x_train, y_train)

C:\Users\debna\AppData\Local\Temp\ipykernel_15236\1079837265.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  R.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=1)

In [363]:
R.score(x_train, y_train)

1.0

In [364]:
R.score(x_test, y_test)

1.0

In [365]:
R.predict([[2700,0.0004,0.1,18]])

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

....................................................................................................................................................

To predict Stars color

In [366]:
x=df.iloc[:,:-2]

In [367]:
x

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type
0,3068,0.002400,0.1700,16.12,0
1,3042,0.000500,0.1542,16.60,0
2,2600,0.000300,0.1020,18.70,0
3,2800,0.000200,0.1600,16.65,0
4,1939,0.000138,0.1030,20.06,0
...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5
236,30839,834042.000000,1194.0000,-10.63,5
237,8829,537493.000000,1423.0000,-10.73,5
238,9235,404940.000000,1112.0000,-11.23,5
239,37882,294903.000000,1783.0000,-7.80,5

In [368]:
y=df[['Star color']]

In [369]:
y

    Star color
0          Red
1          Red
2          Red
3          Red
4          Red
..         ...
235       Blue
236       Blue
237      White
238      White
239       Blue

[240 rows x 1 columns]

In [370]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [371]:

# Train the model for predicting Star Type
R = RandomForestClassifier(n_estimators=200,random_state=1)
R.fit(x_train, y_train)

C:\Users\debna\AppData\Local\Temp\ipykernel_15236\169776885.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  R.fit(x_train, y_train)

RandomForestClassifier(n_estimators=200, random_state=1)

In [372]:
R.score(x_train, y_train)

1.0

In [373]:
R.score(x_test, y_test)

0.8333333333333334

In [374]:
R.predict([[6700,0.0004,0.1,18,4]])

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['White-Yellow'], dtype=object)

In [375]:
R.predict([[2700,0.0004,0.1,18,0]])

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['Red'], dtype=object)

....................................................................................................................................................

Predict spectral class

In [376]:
x=df.iloc[:,:-2]

In [377]:
x

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type
0,3068,0.002400,0.1700,16.12,0
1,3042,0.000500,0.1542,16.60,0
2,2600,0.000300,0.1020,18.70,0
3,2800,0.000200,0.1600,16.65,0
4,1939,0.000138,0.1030,20.06,0
...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5
236,30839,834042.000000,1194.0000,-10.63,5
237,8829,537493.000000,1423.0000,-10.73,5
238,9235,404940.000000,1112.0000,-11.23,5
239,37882,294903.000000,1783.0000,-7.80,5

In [378]:
y=df[['Spectral Class']]

In [379]:
y

    Spectral Class
0                M
1                M
2                M
3                M
4                M
..             ...
235              O
236              O
237              A
238              A
239              O

[240 rows x 1 columns]

In [380]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [381]:

# Train the model for predicting Star Type
R = RandomForestClassifier(n_estimators=200,random_state=1)
R.fit(x_train, y_train)

C:\Users\debna\AppData\Local\Temp\ipykernel_15236\169776885.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  R.fit(x_train, y_train)

RandomForestClassifier(n_estimators=200, random_state=1)

In [382]:
R.score(x_train, y_train)

1.0

In [383]:
R.score(x_test, y_test)

0.9375

In [384]:
R.predict([[2700,0.0004,0.1,18,0]])

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['M'], dtype=object)

In [385]:
R.predict([[6700,0.0004,0.1,18,4]])

c:\Users\debna\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['F'], dtype=object)